<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        系统管理
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <% if(locals.auths.indexOf("user") >= 0){ %>
                <a href="/user" class="list-group-item"><span class="badge pull-right">3</span>后台用户</a>
                <% } %>
                <% if(locals.auths.indexOf("role") >= 0){ %>
                <a href="/role" class="list-group-item">角色管理</a>
                <% } %>
                <% if(locals.auths.indexOf("sms") >= 0){ %>
                <a href="/sms" class="list-group-item">短信管理</a>
                <% } %>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        相关设置
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <a href="#" class="list-group-item"><span class="badge pull-right">3</span>会员列表</a>
                <a href="#" class="list-group-item">留言列表</a>
                <a href="#" class="list-group-item">会员列表</a>
                <a href="#" class="list-group-item">留言列表</a>
                <a href="#" class="list-group-item">会员列表</a>
            </div>
        </div>
    </div>
</div>