<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <div id="loginModal" class="modal show">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center text-primary">登录</h1>
                </div>
                <div class="modal-body clearfix">
                    <form action="" class="form col-md-12 center-block" method="post">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control input-lg" placeholder="电子邮件">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control input-lg" placeholder="登录密码">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">立刻登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>