body {
}


@media (max-width: 767px) {
    /*在小于768像素的屏幕里,这里的样式才生效*/
}

@media (min-width: 768px) and (max-width: 991px) {
    /*在768和991像素之间的屏幕里,这里的样式才生效*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*在992和1199像素之间的屏幕里,这里的样式才生效*/
}

@media (min-width: 1200px) {
    /*在大于1200像素的屏幕里,这里的样式才生效*/
}